---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <article class="[ card ] [ shape flow ]" data-card-variant="form">
    <div class="[ icon ] [ shape size middle ]">
      <img
        class="[ icon__image ] [ size ]"
        alt=""
        src="/icon-star.svg"
        width="17"
        height="16"
      />
    </div>
    <h1 class="card__heading">How did we do?</h1>
    <p class="card__body">
      Please let us know how we did with your support request. All feedback is
      appreciated to help us improve our offering!
    </p>
    <form class="flow" method="post" action="rate">
      <fieldset class="[ rating ] [ reset squares ]">
        <legend class="visually-hidden">Choose a rating:</legend>
        {
          Array(5)
            .fill(null)
            .map((_, index) => {
              const value = index + 1;
              const id = `rating-value-${value}`;
              return (
                <div>
                  <input
                    class="visually-hidden"
                    id={id}
                    type="radio"
                    name="rating"
                    value={value}
                    required
                  />
                  <label
                    class="[ rating__value ] [ shape size middle ]"
                    for={id}
                  >
                    {value}
                  </label>
                </div>
              );
            })
        }
      </fieldset>
      <button class="[ button card__button ] [ shape size ]">Submit</button>
    </form>
  </article>
</BaseLayout>
