---
import "../styles/global.css";
import Icon from "../components/Icon.astro";
import rewards from "../data/rewards.json";
import Progress from "../components/Progress";
import { PledgeDialogTrigger } from "../components/Dialog";
import { SuccessDialog } from "../components/SuccessDialog";
import { getAppState, setAppState } from "../utils/state";

const state = getAppState(Astro.cookies);

const backed = 89914 + state.amount;
const goal = 100000;
const totalBackers = 5007 + (state.hasPledged ? 1 : 0);

if (Astro.request.method === "POST") {
  const formData = await Astro.request.formData();
  const intent = formData.get("intent");
  switch (intent) {
    case "bookmark": {
      setAppState(Astro.cookies, { ...state, isBookmarked: true });
      return Astro.redirect("/", 302);
    }
    case "unbookmark": {
      setAppState(Astro.cookies, { ...state, isBookmarked: false });
      return Astro.redirect("/", 302);
    }
    default: {
      throw new Error(`Unexpected intent: "${intent}"`);
    }
  }
}
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- displays site properly based on user's device -->
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/images/favicon-32x32.png"
    />
    <link rel="preload" href="/sprite.svg" as="image" />
    <title>Frontend Mentor | Crowdfunding product page</title>
  </head>
  <body>
    <header class="[ header ] [ center repel ] [ gap-8 ]">
      <a href="/">
        <Icon alt="Crowdfund" name="logo" width={128} height={20} />
      </a>
      <nav>
        <!-- <button>
          <img alt="" src="/images/icon-hamburger.svg" />
          <img alt="" src="/images/icon-close-menu.svg" />
          Menu
        </button> -->
        <ul class="cluster" role="list">
          <li>
            <a href="/about">About</a>
          </li>
          <li>
            <a href="/dicover">Discover</a>
          </li>
          <li>
            <a href="/get-started">Get Started</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <div class="[ hero ] [ center ] [ -mb-21 tablet:-mb-30 ]">
        <picture>
          <source
            media="(min-width: 40em)"
            srcset="/images/image-hero-desktop.jpg"
            width="1440"
            height="400"
          />
          <img
            alt=""
            src="/images/image-hero-mobile.jpg"
            width="750"
            height="600"
          />
        </picture>
      </div>
      <div class="[ main ] [ center ]">
        <div class="[ intro ] [ card isolate ]">
          <div class="flip -mt-17 tablet:-mt-19 gap-6 tablet:gap-7">
            <h1>Mastercraft Bamboo Monitor Riser</h1>
            <div class="self-center">
              <Icon
                alt="Mastercraft"
                name="logo-mastercraft"
                width={56}
                height={56}
              />
            </div>
          </div>
          <p class="mt-4">
            A beautiful & handcrafted monitor stand to reduce neck and eye
            strain.
          </p>
          <div
            class="mt-6 tablet:mt-10 flex justify-center items-center flex-wrap gap-2 tablet:justify-between"
          >
            <PledgeDialogTrigger client:load className="button">
              Back this project
            </PledgeDialogTrigger>
            <form class="flex" method="post">
              <button
                class="icon-button"
                type="submit"
                name="intent"
                value={state.isBookmarked ? "unbookmark" : "bookmark"}
                data-is-bookmarked={`${state.isBookmarked}`}
              >
                <svg
                  class="icon"
                  aria-hidden="true"
                  focusable="false"
                  viewBox="0 0 56 56"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <g fill="none" fill-rule="evenodd"
                    ><circle fill="#2F2F2F" cx="28" cy="28" r="28"
                    ></circle><path
                      fill="#B1B1B1"
                      d="M23 19v18l5-5.058L33 37V19z"></path></g
                  >
                </svg>
                <span class="sr-only tablet:not-sr-only">
                  {state.isBookmarked ? "Bookmarked" : "Bookmark"}
                </span>
              </button>
            </form>
          </div>
        </div>
        <section
          class="[ progress-section ] [ card mt-6 ]"
          aria-labelledby="progress-heading"
        >
          <h2 class="sr-only" id="progress-heading">Progress</h2>
          <ul class="progress-section__stats" role="list">
            <li class="progress-section__stat">
              <b>
                {
                  new Intl.NumberFormat("en-US", {
                    style: "currency",
                    currency: "USD",
                    currencyDisplay: "narrowSymbol",
                    maximumFractionDigits: 0,
                  }).format(backed)
                }
              </b> of {
                new Intl.NumberFormat("en-US", {
                  style: "currency",
                  currency: "USD",
                  currencyDisplay: "narrowSymbol",
                  maximumFractionDigits: 0,
                }).format(goal)
              } backed
            </li>
            <li class="progress-section__stat">
              <b>
                {new Intl.NumberFormat("en-US").format(totalBackers)}
              </b> total backers
            </li>
            <li class="progress-section__stat">
              <b>56</b> days left
            </li>
          </ul>
          <div class="mt-8 tablet:mt-9">
            <Progress current={backed} goal={goal} />
          </div>
        </section>
        <div class="card mt-6">
          <div class="about">
            <h2>About this project</h2>
            <p class="mt-6 tablet:mt-9">
              The Mastercraft Bamboo Monitor Riser is a sturdy and stylish
              platform that elevates your screen to a more comfortable viewing
              height. Placing your monitor at eye level has the potential to
              improve your posture and make you more comfortable while at work,
              helping you stay focused on the task at hand.
            </p>
            <p class="mt-6 tablet:mt-8">
              Featuring artisan craftsmanship, the simplicity of design creates
              extra desk space below your computer to allow notepads, pens, and
              USB sticks to be stored under the stand.
            </p>
            <h2 class="sr-only">Rewards</h2>
            <ul role="list">
              {
                rewards.map((reward) => {
                  const isOutOfStock = !reward.left;
                  return (
                    <li
                      class="card mt-6 first:mt-9"
                      data-disabled={isOutOfStock.toString()}
                    >
                      <div class="[ repel ] [ gap-2 ]">
                        <h3>{reward.name}</h3>
                        <p class="or-more">Pledge ${reward.min} or more</p>
                      </div>
                      <p class="mt-6">{reward.description}</p>
                      <div class="[ repel ] [ mt-6 gap-6 ]">
                        <p class="left">
                          <strong>{reward.left}</strong> left
                        </p>
                        <PledgeDialogTrigger
                          client:load
                          className="[ reward-button ] [ button ]"
                          disabled={isOutOfStock}
                        >
                          {isOutOfStock ? "Out of Stock" : "Select Reward"}
                        </PledgeDialogTrigger>
                      </div>
                    </li>
                  );
                })
              }
            </ul>
          </div>
        </div>
      </div>
    </main>
    <SuccessDialog client:load />
  </body>
</html>

<script>
  import { $open } from "../utils/store";

  addEventListener("success", () => {
    $open.set(true);
  });
</script>
