---
import "../styles/global.css";
import Icon from "../components/Icon.astro";
import rewards from "../data/rewards.json";
import Progress from "../components/Progress";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- displays site properly based on user's device -->
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/images/favicon-32x32.png"
    />
    <link rel="preload" href="/sprite.svg" as="image" />
    <title>Frontend Mentor | Crowdfunding product page</title>
  </head>
  <body>
    <header class="[ header ] [ center repel ]">
      <a href="/">
        <Icon alt="Crowdfund" name="logo" width={128} height={20} />
      </a>
      <nav>
        <!-- <button>
          <img alt="" src="/images/icon-hamburger.svg" />
          <img alt="" src="/images/icon-close-menu.svg" />
          Menu
        </button> -->
        <ul class="cluster" role="list">
          <li>
            <a href="/about">About</a>
          </li>
          <li>
            <a href="/dicover">Discover</a>
          </li>
          <li>
            <a href="/get-started">Get Started</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <picture class="[ hero ] [ center ] [ -mb-21 tablet:-mb-30 ]">
        <source
          media="(min-width: 40em)"
          srcset="/images/image-hero-desktop.jpg"
          width="1440"
          height="400"
        />
        <img
          alt=""
          src="/images/image-hero-mobile.jpg"
          width="750"
          height="600"
        />
      </picture>
      <div class="[ main ] [ center ]">
        <div class="[ intro ] [ card isolate ]">
          <div class="flip -mt-17 tablet:-mt-19 gap-6 tablet:gap-7">
            <h1>Mastercraft Bamboo Monitor Riser</h1>
            <div class="self-center">
              <Icon
                alt="Mastercraft"
                name="logo-mastercraft"
                width={56}
                height={56}
              />
            </div>
          </div>
          <p class="mt-4">
            A beautiful & handcrafted monitor stand to reduce neck and eye
            strain.
          </p>
          <div
            class="mt-6 tablet:mt-10 flex justify-center items-center flex-wrap gap-2 tablet:justify-between"
          >
            <a class="button" href="/pledge"> Back this project</a>
            <form class="flex" method="post">
              <button
                class="icon-button"
                type="submit"
                name="intent"
                value="bookmark"
              >
                <svg
                  class="icon"
                  aria-hidden="true"
                  focusable="false"
                  viewBox="0 0 56 56"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <g fill="none" fill-rule="evenodd"
                    ><circle fill="#2F2F2F" cx="28" cy="28" r="28"
                    ></circle><path
                      fill="#B1B1B1"
                      d="M23 19v18l5-5.058L33 37V19z"></path></g
                  >
                </svg>
                <span class="sr-only tablet:not-sr-only">Bookmark</span>
              </button>
            </form>
          </div>
        </div>
        <section
          class="[ progress-section ] [ card mt-6 ]"
          aria-labelledby="progress-heading"
        >
          <h2 class="sr-only" id="progress-heading">Progress</h2>
          <ul class="progress-section__stats" role="list">
            <li class="progress-section__stat">
              <b>$89,914</b> of $100,000 backed
            </li>
            <li class="progress-section__stat">
              <b>5,007</b> total backers
            </li>
            <li class="progress-section__stat">
              <b>56</b> days left
            </li>
          </ul>
          <div class="mt-8 tablet:mt-9">
            <Progress current={89914} goal={100000} />
          </div>
        </section>
        <div class="card mt-6">
          <div class="about">
            <h2>About this project</h2>
            <p>
              The Mastercraft Bamboo Monitor Riser is a sturdy and stylish
              platform that elevates your screen to a more comfortable viewing
              height. Placing your monitor at eye level has the potential to
              improve your posture and make you more comfortable while at work,
              helping you stay focused on the task at hand.
            </p>
            <p>
              Featuring artisan craftsmanship, the simplicity of design creates
              extra desk space below your computer to allow notepads, pens, and
              USB sticks to be stored under the stand.
            </p>
            <h2>Rewards</h2>
            <ul role="list">
              {
                rewards.map((reward) => {
                  const isOutOfStock = !reward.left;
                  return (
                    <li
                      class="card mt-6 first:mt-9"
                      data-disabled={isOutOfStock}
                    >
                      <div class="repel">
                        <h3>{reward.name}</h3>
                        <p class="or-more">Pledge ${reward.min} or more</p>
                      </div>
                      <p>{reward.description}</p>
                      <div class="repel">
                        <p class="left">
                          <strong>{reward.left}</strong> left
                        </p>
                        {isOutOfStock ? (
                          <p class="[ reward-button ] [ button ]" data-disabled>
                            Out of Stock
                          </p>
                        ) : (
                          <a
                            class="[ reward-button ] [ button ]"
                            href={`/pledge?item=${reward.id}`}
                          >
                            Select Reward
                          </a>
                        )}
                      </div>
                    </li>
                  );
                })
              }
            </ul>
          </div>
        </div>
      </div>
      <!-- Selection modal -->
      <!-- todo: https://www.radix-ui.com/primitives/docs/components/dialog -->
      <!-- <article>
        <header>
          <a href="/">
            <img alt="Home" src="/images/icon-close-modal.svg" />
          </a>
        </header>
        <h1>Back this project</h1>
        <p>
          Want to support us in bringing Mastercraft Bamboo Monitor Riser out in
          the world?
        </p>
        <form method="post">
          <ul> -->
      <!-- todo: Merge into `rewards.map` -->
      <!-- <li data-selected="true">
              <h2>
                <button
                type="submit"
                name="reward"
                value="none"
                aria-describedby="reward-none-desc"
                >
                Pledge with no reward
              </button>
            </h2>
            <div class="radio"></div>
            <p id="reward-none-desc">
              Choose to support us without a reward if you simply believe in
              our project. As a backer, you will be signed up to receive
              product updates via email.
            </p>
          </li> -->
      {
        rewards.map((reward) => {
          const descId = `reward-${reward.id}-desc`;
          const quantityId = `reward-${reward.id}-quantity`;
          const disabled = !reward.left;
          return (
            <span />
            // <li data-disabled={disabled}>
            //   <div>
            //     <h2>
            //       <button
            //         type="submit"
            //         name="reward"
            //         value={reward.id}
            //         disabled={disabled}
            //         aria-describedby={descId}
            //       >
            //         {reward.name}
            //       </button>
            //     </h2>
            //     <p>Pledge ${reward.min} or more</p>
            //     <p id={descId}>{reward.description}</p>
            //     <p>
            //       <strong>{reward.left}</strong> left
            //     </p>
            //   </div>
            //   <label for={quantityId}>Enter your pledge</label>
            //   <span>
            //     <span>$</span>
            //     <input
            //       type="number"
            //       name="quantity"
            //       value={reward.min}
            //       min={reward.min}
            //       id={quantityId}
            //     />
            //   </span>
            //   <button type="submit" name="intent" value="pledge">
            //     Continue
            //   </button>
            // </li>
          );
        })
      }
      <!-- </ul>
        </form>
      </article> -->
      <!-- Success modal -->
      <!-- <div>
        <img alt="" src="/images/icon-check.svg" />
        <h1>Thanks for your support!</h1>
        <p>
          Your pledge brings us one step closer to sharing Mastercraft Bamboo
          Monitor Riser worldwide. You will get an email once our campaign is
          completed.
        </p>
        <a href="/">Got it!</a>
      </div> -->
    </main>
  </body>
</html>
