---
import "../styles/global.css";
import Logo from "../components/Logo.astro";
// todo: aria-hidden
import IconHamburger from "../components/IconHamburger.astro";
import IconArrowDown from "../components/IconArrowDown.astro";
import IconFacebook from "../components/IconFacebook.astro";
import IconInstagram from "../components/IconInstagram.astro";
import IconTwitter from "../components/IconTwitter.astro";
import IconPinterest from "../components/IconPinterest.astro";
import { screens } from "../utils/screens";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <!-- displays site properly based on user's device -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/images/favicon-32x32.png"
    />
    <title>Frontend Mentor | Sunnyside agency landing page</title>
  </head>
  <body>
    <header class="header">
      <div class="center repel">
        <div class="header__logo">
          <Logo />
          <p class="sr-only">Sunnyside</p>
        </div>
        <nav>
          <button
            class="header__trigger"
            aria-expanded="false"
            data-menu-trigger
          >
            <IconHamburger />
            <span class="sr-only">Menu</span>
          </button>
          <div class="header__menu" data-menu>
            <ul class="header__links" role="list">
              <li>
                <a href="#">About</a>
              </li>
              <li>
                <a href="#">Services</a>
              </li>
              <li>
                <a href="#">Projects</a>
              </li>
              <li>
                <a class="header__cta" href="#">Contact</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </header>
    <main>
      <div class="hero">
        <div class="center">
          <h1>We are creatives</h1>
          <div class="hero__arrow">
            <IconArrowDown />
          </div>
        </div>
        <picture class="[ hero__background ] [ center ]">
          <source
            media={`(min-width: ${screens.desktop})`}
            srcset="/images/desktop/image-header.jpg"
            width="2880"
            height="1600"
          />
          <img
            class="hero__image"
            alt=""
            src="/images/mobile/image-header.jpg"
            width="750"
            height="1076"
          />
        </picture>
      </div>
      <div
        class="[ pair ] [ center columns ]"
        data-pair-layout="text image"
        data-pair-color="yellow"
        data-columns="2"
      >
        <picture class="pair__image-container">
          <source
            media={`(min-width: ${screens.tablet})`}
            srcset="/images/mobile/image-transform.jpg"
            width="720"
            height="600"
          />
          <img
            class="pair__image"
            alt=""
            src="/images/mobile/image-transform.jpg"
            width="750"
            height="624"
          />
        </picture>
        <div class="pair__text">
          <h2 class="pair__heading">Transform your brand</h2>
          <p class="pair__body">
            We are a full-service creative agency specializing in helping brands
            grow fast. Engage your clients through compelling visuals that do
            most of the marketing for you.
          </p>
          <p>
            <!-- todo: a11y name -->
            <a class="[ learn-more ] [ pair__link ]" href="#">Learn more</a>
          </p>
        </div>
      </div>
      <div
        class="[ pair ] [ center columns ]"
        data-pair-color="soft red"
        data-columns="2"
      >
        <picture class="pair__image-container">
          <source
            media={`(min-width: ${screens.tablet})`}
            srcset="/images/desktop/image-stand-out.jpg"
            width="720"
            height="600"
          />
          <img
            class="pair__image"
            alt=""
            src="/images/mobile/image-stand-out.jpg"
            width="750"
            height="624"
          />
        </picture>
        <div class="pair__text">
          <h2 class="pair__heading">Stand out to the right audience</h2>
          <p class="pair__body">
            Using a collaborative formula of designers, researchers,
            photographers, videographers, and copywriters, we’ll build and
            extend your brand in digital places.
          </p>
          <p>
            <a class="[ learn-more pair__link ]" href="#">Learn more</a>
          </p>
        </div>
      </div>
      <h2 class="sr-only">Our services</h2>
      <div class="[ services ] [ center columns ]" data-columns="2">
        <div class="services__service" data-service="graphic design">
          <picture class="services__background">
            <source
              media={`(min-width: ${screens.tablet})`}
              srcset="/images/desktop/image-graphic-design.jpg"
              width="720"
              height="600"
            />
            <img
              class="services__image"
              alt=""
              src="/images/mobile/image-graphic-design.jpg"
              width="750"
              height="1200"
            />
          </picture>
          <div class="services__text">
            <h3>Graphic design</h3>
            <p class="services__body">
              Great design makes you memorable. We deliver artwork that
              underscores your brand message and captures potential clients’
              attention.
            </p>
          </div>
        </div>
        <div class="services__service" data-service="photography">
          <picture class="services__background">
            <source
              media={`(min-width: ${screens.tablet})`}
              srcset="/images/desktop/image-photography.jpg"
              width="720"
              height="600"
            />
            <img
              class="services__image"
              alt=""
              src="/images/mobile/image-photography.jpg"
              width="750"
              height="1200"
            />
          </picture>
          <div class="services__text">
            <h3>Photography</h3>
            <p class="services__body">
              Increase your credibility by getting the most stunning,
              high-quality photos that improve your business image.
            </p>
          </div>
        </div>
      </div>
      <div class="[ testimonials ] [ center ]">
        <h2 class="testimonials__heading">Client testimonials</h2>
        <ul
          class="[ testimonials__container ] [ columns ]"
          data-columns="3"
          role="list"
        >
          {
            [
              {
                image: "/images/image-emily.jpg",
                quote:
                  "We put our trust in Sunnyside and they delivered, making sure our needs were met and deadlines were always hit.",
                name: "Emily R.",
                title: "Marketing Director",
              },
              {
                image: "/images/image-thomas.jpg",
                quote:
                  "Sunnyside’s enthusiasm coupled with their keen interest in our brand’s success made it a satisfying and enjoyable experience.",
                name: "Thomas S.",
                title: "Chief Operating Officer",
              },
              {
                image: "/images/image-jennie.jpg",
                quote:
                  "Incredible end result! Our sales increased over 400% when we worked with Sunnyside. Highly recommended!",
                name: "Jennie F.",
                title: "Business Owner",
              },
            ].map((testimonial) => {
              // todo: testimonial markup
              return (
                <li>
                  <figure>
                    <img
                      class="testimonials__image"
                      alt=""
                      src={testimonial.image}
                      width="144"
                      height="144"
                    />
                    <blockquote class="testimonials__quote">
                      {testimonial.quote}
                    </blockquote>
                    <figcaption>
                      <p class="testimonials__name">{testimonial.name}</p>
                      <p class="testimonials__title">{testimonial.title}</p>
                    </figcaption>
                  </figure>
                </li>
              );
            })
          }
        </ul>
      </div>
      <div class="[ gallery ] [ center grid ]">
        <picture>
          <source
            media={`(min-width: ${screens.tablet})`}
            srcset="/images/desktop/image-gallery-milkbottles.jpg"
            width="720"
            height="894"
          />
          <img
            class="gallery__image"
            alt=""
            src="/images/mobile/image-gallery-milkbottles.jpg"
            width="376"
            height="376"
          />
        </picture>
        <picture>
          <source
            media={`(min-width: ${screens.tablet})`}
            srcset="/images/desktop/image-gallery-orange.jpg"
            width="720"
            height="894"
          />
          <img
            class="gallery__image"
            alt=""
            src="/images/mobile/image-gallery-orange.jpg"
            width="376"
            height="376"
          />
        </picture>
        <picture>
          <source
            media={`(min-width: ${screens.tablet})`}
            srcset="/images/desktop/image-gallery-cone.jpg"
            width="720"
            height="894"
          />
          <img
            class="gallery__image"
            alt=""
            src="/images/mobile/image-gallery-cone.jpg"
            width="376"
            height="376"
          />
        </picture>
        <picture>
          <source
            media={`(min-width: ${screens.tablet})`}
            srcset="/images/desktop/image-gallery-sugarcubes.jpg"
            width="720"
            height="894"
          />
          <img
            class="gallery__image"
            alt=""
            src="/images/mobile/image-gallery-sugar-cubes.jpg"
            width="376"
            height="376"
          />
        </picture>
      </div>
    </main>
    <footer class="footer">
      <div class="center">
        <div class="footer__logo">
          <Logo />
          <p class="sr-only">Sunnyside</p>
        </div>
        <!-- todo: named nav -->
        <nav class="footer__nav">
          <ul class="cluster" role="list">
            <li>
              <a class="footer__link" href="#">About</a>
            </li>
            <li>
              <a class="footer__link" href="#">Services</a>
            </li>
            <li>
              <a class="footer__link" href="#">Projects</a>
            </li>
          </ul>
        </nav>
        <ul class="[ footer__socials ] [ cluster ]" role="list">
          <li>
            <a class="footer__social" href="#">
              <IconFacebook /><span class="sr-only">Facebook</span>
            </a>
          </li>
          <li>
            <a class="footer__social" href="#">
              <IconInstagram /><span class="sr-only">Instagram</span>
            </a>
          </li>
          <li>
            <a class="footer__social" href="#">
              <IconTwitter /><span class="sr-only">Twitter</span>
            </a>
          </li>
          <li>
            <a class="footer__social" href="#">
              <IconPinterest /><span class="sr-only">Pinterest</span>
            </a>
          </li>
        </ul>
      </div>
    </footer>
  </body>
</html>

<script src="../scripts/menu.ts"></script>
