---
import "../styles/global.css";
import "@fontsource-variable/plus-jakarta-sans";
import { slides } from "../data/slides";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/assets/favicon-32x32.png"
    />
    <title>Frontend Mentor | Single-page design portfolio</title>
  </head>
  <body class="color-base">
    <main>
      <div class="my-work">
        <h1
          class="[ my-work__heading ] [ heading-s center ]"
          id="my-work-heading"
        >
          My Work
        </h1>
        <section
          class="[ my-work__slider slider ]"
          aria-labelledby="my-work-heading"
          aria-roledescription="Slider"
        >
          <div id="slider-controls" hidden>
            <p class="visually-hidden" id="slider-controls-label">
              Slider controls
            </p>
            <ul
              class="slider__controls"
              role="list"
              aria-labelledby="slider-controls-label"
            >
              <li>
                <button class="slider__control" type="button" data-slider-prev>
                  <img
                    alt="Previous slide"
                    src="/assets/icon-arrow-left.svg"
                    width="15"
                    height="16"
                  />
                </button>
              </li>
              <li>
                <button class="slider__control" type="button" data-slider-next>
                  <img
                    alt="Next slide"
                    src="/assets/icon-arrow-right.svg"
                    width="15"
                    height="16"
                  />
                </button>
              </li>
            </ul>
          </div>
          <div
            class="slider__scroll"
            tabindex="0"
            aria-labelledby="my-work-heading"
            data-slider-scroll
          >
            <ul class="[ slider__content ] [ center ]" role="list">
              {
                slides.map((slide) => {
                  return (
                    <li data-slider-item>
                      <figure>
                        <img
                          class="slider__slide-img"
                          alt={slide.alt}
                          src={slide.src}
                          width={slide.width}
                          height={slide.height}
                        />
                        <figcaption class="[ slider__slide-caption ] [ visually-hidden ]">
                          {slide.caption}
                        </figcaption>
                      </figure>
                    </li>
                  );
                })
              }
            </ul>
          </div>
        </section>
      </div>
    </main>

    <!-- Free Consultation Design solutions made easy With over ten years of
      experience in various design disciplines, I’m your one-stop shop for your
    design needs. Graphic Design UI/UX Apps Photography Illustrations Motion
    Graphics I’m Amy, and I’d love to work on your next project I love working
    with others to create beautiful design solutions. I’ve designed everything
    from brand illustrations to complete mobile apps. I’m also handy with a
    camera! Free Consultation My Work Book a call with me I’d love to have a
    chat to see how I can help you. The best first step is for us to discuss
    your project during a free consultation. Then we can move forward from
    there. Free Consultation Free Consultation -->
  </body>
</html>

<script>
  const $ = {
    sliderControls: document.getElementById("slider-controls") as HTMLElement,
    prevBtn: document.querySelector("[data-slider-prev]") as HTMLButtonElement,
    nextBtn: document.querySelector("[data-slider-next]") as HTMLButtonElement,
    scrollContainer: document.querySelector(
      "[data-slider-scroll]"
    ) as HTMLElement,
    scrollItems: [
      ...document.querySelectorAll<HTMLElement>("[data-slider-item]"),
    ],
  };

  $.sliderControls.hidden = false;

  $.prevBtn.addEventListener("click", () => {
    const middle =
      $.scrollContainer.scrollLeft + $.scrollContainer.clientWidth / 2;
    const $next = $.scrollItems.findLast(($item) => {
      return $item.offsetLeft + $item.offsetWidth < middle;
    });
    $next?.scrollIntoView({ inline: "center" });
  });

  $.nextBtn.addEventListener("click", () => {
    const middle =
      $.scrollContainer.scrollLeft + $.scrollContainer.clientWidth / 2;
    const $next = $.scrollItems.find(($item) => {
      return $item.offsetLeft > middle;
    });
    $next?.scrollIntoView({ inline: "center" });
  });
</script>
