---
import "@fontsource-variable/plus-jakarta-sans";
import "../styles/global.css";
import * as data from "../data/notifications";

// todo: persist `isRead: true`
const notifications =
  Astro.request.method === "POST"
    ? data.notifications.map((notification) => {
        return { ...notification, isRead: true };
      })
    : data.notifications;
const unreadNumber = notifications.filter((notification) => {
  return !notification.isRead;
}).length;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <!-- displays site properly based on user's device -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/assets/images/favicon-32x32.png"
    />
    <title>Frontend Mentor | Notifications page</title>
  </head>
  <body>
    <main class="grid min-h-screen desktop:items-center desktop:p-16">
      <article
        class="mx-auto box-content bg-white p-4 py-6 tablet:p-8 desktop:max-w-notifications desktop:rounded-2xl desktop:shadow-notifications desktop:forced-colors:border-1"
      >
        <header class="flex flex-wrap items-center justify-between gap-4">
          <h1
            class="flex items-center gap-2 text-header tablet:text-header-desktop"
            id="notifications-heading"
          >
            Notifications <span class="sr-only">(</span><span
              class="rounded-md bg-blue p-[0.6875rem] pb-[0.1875rem] pt-[0.125rem] text-body text-white forced-colors:border-1 desktop:text-body-desktop"
              data-unread-number>{unreadNumber}</span
            ><span class="sr-only"> unread)</span>
          </h1>
          <form method="post" data-mark-as-read>
            <button type="submit">Mark all as read</button>
          </form>
        </header>
        <ol
          class="mt-6 space-y-2 tablet:mt-8"
          role="list"
          aria-describedby="notifications-heading"
        >
          {
            notifications.map((notification) => {
              return (
                <li
                  class="grid grid-cols-[max-content_1fr] gap-3 rounded-lg p-4 data-[is-read=false]:bg-very-light-grayish-blue forced-colors:data-[is-read=false]:border-1 tablet:gap-5 tablet:p-5"
                  data-type={notification.type}
                  data-is-read={notification.isRead.toString()}
                >
                  {!notification.isRead ? (
                    <p class="sr-only">Unread notification:</p>
                  ) : null}
                  {notification.type === "reacted" ? (
                    <>
                      <img
                        class="h-10 w-auto tablet:h-11"
                        alt=""
                        src={notification.user.avatar}
                        width="90"
                        height="90"
                      />
                      <div>
                        <p class="dot">
                          <a class="text-very-dark-blue" href="#">
                            {notification.user.name}
                          </a>{" "}
                          reacted to your recent post{" "}
                          <a class="text-dark-grayish-blue" href="#">
                            {notification.post}
                          </a>
                        </p>
                        <p class="mt-[0.1875rem] text-grayish-blue">
                          <time datetime={notification.time.datetime}>
                            {notification.time.formatted}
                          </time>
                        </p>
                      </div>
                    </>
                  ) : notification.type === "followed" ? (
                    <>
                      <img
                        class="h-10 w-auto tablet:h-11"
                        alt=""
                        src={notification.user.avatar}
                        width="90"
                        height="90"
                      />
                      <div>
                        <p class="dot">
                          <a class="text-very-dark-blue" href="#">
                            {notification.user.name}
                          </a>{" "}
                          followed you
                        </p>
                        <p class="mt-[0.1875rem] text-grayish-blue">
                          <time datetime={notification.time.datetime}>
                            {notification.time.formatted}
                          </time>
                        </p>
                      </div>
                    </>
                  ) : notification.type === "joined" ? (
                    <>
                      <img
                        class="h-10 w-auto tablet:h-11"
                        alt=""
                        src={notification.user.avatar}
                        width="90"
                        height="90"
                      />
                      <div>
                        <p class="dot">
                          <a class="text-very-dark-blue" href="#">
                            {notification.user.name}
                          </a>{" "}
                          has joined your group{" "}
                          <a href="#">{notification.group}</a>
                        </p>
                        <p class="mt-[0.1875rem] text-grayish-blue">
                          <time datetime={notification.time.datetime}>
                            {notification.time.formatted}
                          </time>
                        </p>
                      </div>
                    </>
                  ) : notification.type === "messaged" ? (
                    <>
                      <img
                        class="h-10 w-auto tablet:h-11"
                        alt=""
                        src={notification.user.avatar}
                        width="90"
                        height="90"
                      />
                      <div>
                        <p class="dot">
                          <a class="text-very-dark-blue" href="#">
                            {notification.user.name}
                          </a>{" "}
                          sent you a private message
                        </p>
                        <p class="mt-[0.1875rem] text-grayish-blue">
                          <time datetime={notification.time.datetime}>
                            {notification.time.formatted}
                          </time>
                        </p>
                        <a
                          class="group font-medium text-dark-grayish-blue hocus:text-dark-grayish-blue"
                          href="#"
                        >
                          <blockquote class="mt-3 rounded-[0.3125rem] border-1 border-light-grayish-blue-2 p-4 transition group-hover:bg-light-grayish-blue-1 group-focus-visible:bg-light-grayish-blue-1 tablet:p-5">
                            {notification.message}
                          </blockquote>
                        </a>
                      </div>
                    </>
                  ) : notification.type === "commented" ? (
                    <>
                      <img
                        class="h-10 w-auto tablet:h-11"
                        alt=""
                        src={notification.user.avatar}
                        width="90"
                        height="90"
                      />
                      <div class="grid grid-cols-[1fr_max-content] gap-4">
                        <div>
                          <p class="dot">
                            <a class="text-very-dark-blue" href="#">
                              {notification.user.name}
                            </a>{" "}
                            commented on your picture
                          </p>
                          <p class="mt-[0.1875rem] text-grayish-blue">
                            <time datetime={notification.time.datetime}>
                              {notification.time.formatted}
                            </time>
                          </p>
                        </div>
                        <a href="#">
                          <img
                            class="h-10 w-auto tablet:h-11"
                            alt="The picture commented on"
                            src="/assets/images/image-chess.webp"
                          />
                        </a>
                      </div>
                    </>
                  ) : notification.type === "left" ? (
                    <>
                      <img
                        class="h-10 w-auto tablet:h-11"
                        alt=""
                        src={notification.user.avatar}
                        width="90"
                        height="90"
                      />
                      <div>
                        <p class="dot">
                          <a class="text-very-dark-blue" href="#">
                            {notification.user.name}
                          </a>{" "}
                          left the group <a href="#">Chess Club</a>
                        </p>
                        <p class="mt-[0.1875rem] text-grayish-blue">
                          <time datetime={notification.time.datetime}>
                            {notification.time.formatted}
                          </time>
                        </p>
                      </div>
                    </>
                  ) : (
                    (() => {
                      throw new Error(
                        `Notification type not implemented: ${JSON.stringify(
                          notification
                        )}`
                      );
                    })()
                  )}
                </li>
              );
            })
          }
        </ol>
      </article>
    </main>
  </body>
</html>

<script>
  const $ = {
    form: document.querySelector("[data-mark-as-read]") as HTMLFormElement,
    unreadNumber: document.querySelector("[data-unread-number]") as HTMLElement,
    notifications: document.querySelectorAll(
      "[data-is-read]"
    ) as NodeListOf<HTMLElement>,
  };

  $.form.addEventListener("submit", (e) => {
    // todo: persist `isRead: true`
    $.unreadNumber.textContent = "0";
    for (const notification of $.notifications) {
      notification.dataset.isRead = "true";
    }

    e.preventDefault();
  });
</script>
