---
import "@fontsource-variable/plus-jakarta-sans";
import '../styles/global.css';
import { notifications } from "../data/notifications";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <!-- displays site properly based on user's device -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/assets/images/favicon-32x32.png"
    />
    <title>Frontend Mentor | Notifications page</title>
  </head>
  <body>
    <main>
      <article>
        <header>
          <h1 class="text-header tablet:text-header-desktop" id="notifications-heading">
            Notifications <span>(</span><span>3</span><span> unread)</span>
          </h1>
          <form>
            <button type="submit">Mark all as read</button>
          </form>
        </header>
        <ol role="list" aria-describedby="notifications-heading">
          {
            notifications.map((notification) => {
              return (
                <li
                  data-type={notification.type}
                  data-is-read={notification.isRead}
                >
                  {!notification.isRead ? <p>Unread notification:</p> : null}
                  {notification.type === "reacted" ? (
                    <>
                      <img
                        alt=""
                        src={notification.user.avatar}
                        width="90"
                        height="90"
                      />
                      <p>
                        <a class="text-very-dark-blue" href="#">{notification.user.name}</a> reacted to your
                        recent post <a class="text-dark-grayish-blue" href="#">{notification.post}</a>
                      </p>
                      <p class="text-grayish-blue">
                        <time datetime={notification.time.datetime}>
                          {notification.time.formatted}
                        </time>
                      </p>
                    </>
                  ) : notification.type === "followed" ? (
                    <>
                      <img
                        alt=""
                        src={notification.user.avatar}
                        width="90"
                        height="90"
                      />
                      <p>
                        <a class="text-very-dark-blue" href="#">{notification.user.name}</a> followed you
                      </p>
                      <p class="text-grayish-blue">
                        <time datetime={notification.time.datetime}>
                          {notification.time.formatted}
                        </time>
                      </p>
                    </>
                  ) : notification.type === "joined" ? (
                    <>
                      <img
                        alt=""
                        src={notification.user.avatar}
                        width="90"
                        height="90"
                      />
                      <p>
                        <a class="text-very-dark-blue" href="#">{notification.user.name}</a> has joined your
                        group <a href="#">{notification.group}</a>
                      </p>
                      <p class="text-grayish-blue">
                        <time datetime={notification.time.datetime}>
                          {notification.time.formatted}
                        </time>
                      </p>
                    </>
                  ) : notification.type === "messaged" ? (
                    <>
                      <img
                        alt=""
                        src={notification.user.avatar}
                        width="90"
                        height="90"
                      />
                      <p>
                        <a class="text-very-dark-blue" href="#">{notification.user.name}</a> sent you a
                        private message
                      </p>
                      <p class="text-grayish-blue">
                        <time datetime={notification.time.datetime}>
                          {notification.time.formatted}
                        </time>
                      </p>
                      <blockquote>{notification.message}</blockquote>
                    </>
                  ) : notification.type === "commented" ? (
                    <>
                      <img
                        alt=""
                        src={notification.user.avatar}
                        width="90"
                        height="90"
                      />
                      <p>
                        <a class="text-very-dark-blue" href="#">{notification.user.name}</a> commented on
                        your picture
                      </p>
                      <p class="text-grayish-blue">
                        <time datetime={notification.time.datetime}>
                          {notification.time.formatted}
                        </time>
                      </p>
                      <a href="#">
                        <img
                          alt="The picture commented on"
                          src="/assets/images/image-chess.webp"
                        />
                      </a>
                    </>
                  ) : notification.type === "left" ? (
                    <>
                      <img
                        alt=""
                        src={notification.user.avatar}
                        width="90"
                        height="90"
                      />
                      <p>
                        <a class="text-very-dark-blue" href="#">{notification.user.name}</a> left the group{" "}
                        <a href="#">Chess Club</a>
                      </p>
                      <p class="text-grayish-blue">
                        <time datetime={notification.time.datetime}>
                          {notification.time.formatted}
                        </time>
                      </p>
                    </>
                  ) : (
                    (() => {
                      throw new Error(
                        `Notification type not implemented: ${JSON.stringify(
                          notification
                        )}`
                      );
                    })()
                  )}
                </li>
              );
            })
          }
        </ol>
      </article>
    </main>
  </body>
</html>
