---
import "../styles/global.css";
import RadioButton from "../components/radio-button.astro";
import TextField from "../components/text-field.astro";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="./assets/images/favicon-32x32.png"
    />
    <title>Frontend Mentor | Body Mass Index Calculator</title>
  </head>
  <body
    class="bg-pure-white pb-24 font-inter text-body-m text-dark-electric-blue desktop:pb-32"
  >
    <header
      class="relative mx-auto box-content max-w-outer pt-8 before:absolute before:top-0 before:-z-10 before:block before:h-hero-decoration before:w-full before:rounded-b-9 before:bg-gradient-to-br before:from-gradient-1-from before:to-gradient-1-to before:content-[''] desktop:pt-20 desktop:before:h-hero-decoration-desktop desktop:before:max-w-hero-decoration"
    >
      <div class="mx-auto box-content max-w-inner px-6 tablet:px-10">
        <img
          class="mx-auto desktop:ml-0"
          alt="BMI calculator"
          src="/assets/images/logo.svg"
        />
      </div>
    </header>
    <main class="mt-6 tablet:mt-10 desktop:mt-7">
      <div
        class="mx-auto box-content max-w-inner px-6 tablet:px-10 desktop:grid desktop:grid-cols-2 desktop:gap-8"
      >
        <div
          class="mt-20 text-center desktop:max-w-hero-text desktop:text-start"
        >
          <h1 class="text-heading-l text-gunmetal desktop:text-heading-xl">
            Body Mass Index Calculator
          </h1>
          <p class="mt-6 desktop:mt-9">
            Better understand your weight in relation to your height using our
            body mass index (BM) calculator. While BMI is not the sole
            determinant of a healthy weight, it offers a valuable starting point
            to evaluate your overall health and well-being.
          </p>
        </div>
        <section
          class="mt-12 rounded-4 bg-pure-white p-6 text-gunmetal shadow-layer-1 tablet:mt-10 tablet:p-8 desktop:mt-0"
          aria-labelledby="calculator"
        >
          <h2 class="text-heading-m text-gunmetal" id="calculator">
            Enter your details below
          </h2>
          <form class="mt-6 tablet:mt-8">
            <fieldset class="m-0 grid grid-cols-2 gap-6 border-none p-0">
              <legend class="sr-only">Units</legend>
              <RadioButton
                label="Metric"
                name="units"
                value="metric"
                required
                checked
              />
              <RadioButton
                label="Imperial"
                name="units"
                value="imperial"
                required
              />
            </fieldset>
            <div
              class="tablet:mt-8 tablet:grid tablet:grid-cols-2 tablet:gap-6"
            >
              <fieldset class="m-0 mt-6 border-none p-0 tablet:mt-0">
                <legend class="mb-2 text-dark-electric-blue">Height</legend>
                <TextField label="cm" name="height" required />
              </fieldset>
              <fieldset class="m-0 mt-4 border-none p-0 tablet:mt-0">
                <legend class="mb-2 text-dark-electric-blue">Weight</legend>
                <TextField label="kg" name="weight" required />
              </fieldset>
            </div>
            <button class="sr-only" type="submit">Submit</button>
          </form>
          <div
            class="mt-6 rounded-4 bg-gradient-to-r from-blue to-gradient-result-to p-8 text-body-s text-pure-white tablet:relative tablet:isolate tablet:mt-8 tablet:grid tablet:grid-cols-2 tablet:items-center tablet:gap-6 tablet:bg-none tablet:before:absolute tablet:before:inset-0 tablet:before:-z-10 tablet:before:block tablet:before:rounded-4 tablet:before:bg-gradient-to-r tablet:before:from-blue tablet:before:via-gradient-result-via tablet:before:via-50% tablet:before:to-transparent tablet:before:to-50% tablet:before:content-[''] tablet:after:absolute tablet:after:inset-0 tablet:after:-z-10 tablet:after:block tablet:after:rounded-full tablet:after:bg-gradient-to-r tablet:after:from-transparent tablet:after:from-50% tablet:after:via-gradient-result-via tablet:after:via-50% tablet:after:to-gradient-result-to tablet:after:content-['']"
          >
            <h3 class="text-body-m-bold">
              Your BMI is... <strong class="mt-2 block text-heading-l"
                >23.4</strong
              >
            </h3>
            <p class="mt-6 tablet:mt-0">
              Your BMI suggests you're <span>a healthy weight</span>. Your ideal
              weight is between <strong class="font-semi-bold"
                >63.3kgs - 85.2kgs</strong
              >.
            </p>
          </div>
        </section>
      </div>
      <div
        class="mx-auto mt-20 box-content max-w-inner tablet:mt-24 tablet:grid tablet:grid-cols-2 tablet:items-center desktop:mt-44 desktop:items-end"
      >
        <img alt="" src="/assets/images/image-man-eating.webp" />
        <div class="mt-12 px-6 tablet:mt-0 tablet:px-0 desktop:mb-10">
          <h2 class="text-heading-l-m text-gunmetal desktop:text-heading-l">
            What your BMI result means
          </h2>
          <p class="mt-8 desktop:mt-9">
            A BMI range of 18.5 to 24.9 is considered a 'healthy weight.'
            Maintaining a healthy weight may lower your chances of experiencing
            health issues later on, such as obesity and type 2 diabetes. Aim for
            a nutritious diet with reduced fat and sugar content, incorporating
            ample fruits and vegetables. Additionally, strive for regular
            physical activity, ideally about 30 minutes daily for five days a
            week.
          </p>
        </div>
      </div>
      <div
        class="mx-auto mt-20 box-content max-w-outer rounded-9 bg-gradient-to-br from-gradient-1-from to-gradient-1-to py-14 tablet:mt-24 tablet:py-16 desktop:py-20 desktop:pb-24"
      >
        <div class="mx-auto box-content max-w-inner px-6 tablet:px-10">
          <h2 class="sr-only">Ways to maintain a healthy BMI</h2>
          <div class="flex flex-col gap-10 desktop:flex-row desktop:gap-8">
            {
              [
                {
                  icon: "/assets/images/icon-eating.svg",
                  heading: "Healthy eating",
                  text: "Healthy eating promotes weight control, disease prevention, better digestion, immunity, mental clarity, and mood.",
                },
                {
                  icon: "/assets/images/icon-exercise.svg",
                  heading: "Regular exercise",
                  text: "Exercise improves fitness, aids weight control, elevates mood, and reduces disease risk, fostering wellness and longevity.",
                },
                {
                  icon: "/assets/images/icon-sleep.svg",
                  heading: "Adequate sleep",
                  text: "Sleep enhances mental clarity, emotional stability, and physical wellness, promoting overall restoration and rejuvenation.",
                },
              ].map((way) => {
                return (
                  <article class="tablet:flex tablet:items-center tablet:gap-10 desktop:block">
                    <img class="shrink-0" alt="" src={way.icon} />
                    <div>
                      <h3 class="mt-8 text-heading-m text-gunmetal tablet:mt-0 desktop:mt-11">
                        {way.heading}
                      </h3>
                      <p class="mt-6">{way.text}</p>
                    </div>
                  </article>
                );
              })
            }
          </div>
        </div>
      </div>
      <div
        class="mx-auto mt-20 box-content max-w-inner px-6 tablet:mt-24 tablet:px-10 desktop:mt-32"
      >
        <div class="text-center desktop:text-start">
          <h2 class="text-heading-l-m text-gunmetal desktop:text-heading-l">
            Limitations of BMI
          </h2>
          <p class="mt-8 desktop:mt-9">
            Although BMI is often a practical indicator of healthy weight, it is
            not suited for every person. Specific groups should carefully
            consider their BMI outcomes, and in certain cases, the measurement
            may not be beneficial to use.
          </p>
        </div>
        {
          [
            {
              id: "gender",
              icon: "/assets/images/icon-gender.svg",
              heading: "Gender",
              text: "The development and body fat composition of girls and boys vary with age. Consequently, a child's age and gender are considered when evaluating their BMI.",
            },
            {
              id: "age",
              icon: "/assets/images/icon-age.svg",
              heading: "Age",
              text: "In aging individuals, increased body fat and muscle loss may cause BMI to underestimate body fat content.",
            },
            {
              id: "muscle",
              icon: "/assets/images/icon-muscle.svg",
              heading: "Muscle",
              text: "BMI may misclassify muscular individuals as overweight or obese, as it doesn't differentiate muscle from fat.",
            },
            {
              id: "pregnancy",
              icon: "/assets/images/icon-pregnancy.svg",
              heading: "Pregnancy",
              text: "Expectant mothers experience weight gain due to their growing baby. Maintaining a healthy pre-pregnancy BMI is advisable to minimise health risks for both mother and child.",
            },
            {
              id: "race",
              icon: "/assets/images/icon-race.svg",
              heading: "Race",
              text: "Certain health concerns may affect individuals of some Black and Asian origins at lower BMIs than others. To learn more, it is advised to discuss this with your GP or practice nurse.",
            },
          ].map((limitation) => {
            return (
              <article
                class="mt-1 rounded-4 bg-pure-white p-6 shadow-layer-1"
                data-limitation={limitation.id}
              >
                <div class="flex items-center gap-4">
                  <img alt="" src={limitation.icon} />
                  <h3 class="text-heading-s text-gunmetal">
                    {limitation.heading}
                  </h3>
                </div>
                <p class="mt-4">{limitation.text}</p>
              </article>
            );
          })
        }
      </div>
    </main>
  </body>
</html>
