---
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <!-- displays site properly based on user's device -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="./images/favicon-32x32.png"
    />
    <title>Frontend Mentor | Social proof section</title>
  </head>
  <body>
    <main>
      <div class="hero">
        <div>
          <h1>10,000+ of our users love our products.</h1>
          <p class="mt-4">
            We only provide great products combined with excellent customer
            service. See what our satisfied customers are saying about our
            services.
          </p>
        </div>
        <div>
          <h2 id="reviews-heading" class="sr-only">Reviews</h2>
          <ul class="reviews" role="list" aria-describedby="reviews-heading">
            {
              [
                "Rated 5 Stars in Reviews",
                "Rated 5 Stars in Report Guru",
                "Rated 5 Stars in BestTech",
              ].map((review) => {
                return (
                  <li class="review">
                    <div class="stars">
                      {Array(5)
                        .fill(null)
                        .map(() => {
                          return <img alt="" src="/images/icon-star.svg" />;
                        })}{" "}
                    </div>
                    {review}
                  </li>
                );
              })
            }
          </ul>
        </div>
      </div>
      <h2 id="testimonials-heading" class="sr-only">Testimonials</h2>
      <ul
        class="testimonials"
        role="list"
        aria-describedby="testimonials-heading"
      >
        {
          [
            {
              name: "Colton Smith",
              avatar: "/images/image-colton.jpg",
              quote:
                "“ We needed the same printed design as the one we had ordered a week prior. Not only did they find the original order, but we also received it in time. Excellent! ”",
            },
            {
              name: "Irene Roberts",
              avatar: "/images/image-irene.jpg",
              quote:
                "“ Customer service is always excellent and very quick turn around. Completely delighted with the simplicity of the purchase and the speed of delivery.”",
            },
            {
              name: "Anne Wallace",
              avatar: "/images/image-anne.jpg",
              quote:
                "“ Put an order with this company and can only praise them for the very high standard. Will definitely use them again and recommend them to everyone! ”",
            },
          ].map((testimonial) => {
            return (
              <li>
                <figure>
                  <figcaption>
                    <img alt={testimonial.name} src={testimonial.avatar} />{" "}
                    {testimonial.name}, Verified Buyer
                  </figcaption>
                  <blockquote>
                    <p>{testimonial.quote}</p>
                  </blockquote>
                </figure>
              </li>
            );
          })
        }
      </ul>
    </main>
  </body>
</html>
